*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(200, 50%, 12%);
}

head {
  background: hsl(19, 76%, 88%);
  width: 300px;
  height: 340px;
  border-radius: 70% 70% 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes,
.brows {
  position: absolute;
  width: 195px;
  display: flex;
  justify-content: space-between;
}

.eye {
  background-color: white;
  height: 40px;
  width: 65px;
  border-radius: 100%;
  border-top: 3px solid hsl(19, 46%, 68%);
  border-bottom: 3px solid hsl(19, 46%, 68%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.eye::before {
  content: '';
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: hsl(78, 10%, 42%);
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 5px;
}
